h3 {
  color: white;
  margin: 30px 10px 10px 10px;
  font-family: SF Pro Text, sans-serif;
}

.lista-container {
  overflow: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  top: 400px;

  .lista-imagem {
    border-radius: 50% 50% 50% 50%;
    width: 100px;
    height: 100px;
    margin: 0px 10px 0px 10px;
    border: 2px solid rgba(255, 255, 255, 0.664);
  }
}

.lista-container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
